# {{ ansible_managed }}
# Config for morphit-ipfs-pin.sh (the release-pinning service).
MORPHIT_RELEASE_URL={{ morphit_ipfs_release_url }}
IPFS_PATH={{ morphit_ipfs_repo }}
MORPHIT_IPFS_PIN_TIMEOUT={{ morphit_ipfs_pin_timeout }}
