[Unit]
Description=Morphit Docker Compose monitor timer — fires every 5 minutes
Documentation=https://git.agorise.net/agorise/morphit
Requires=morphit-compose-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=morphit-compose-monitor.service

[Install]
WantedBy=timers.target
